.app .com-header {
  width: 100%;
  height: 470px;
  background: #8a8a8a; }

.app .com-contain {
  width: 1200px;
  margin: 0 auto;
  min-height: 200px;
  border: 1px solid gray; }

.app .com-footer {
  width: 100%;
  height: 134px;
  background: #383838; }
