html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.bgs-sprite, html { background-image: url('i/../i/bgs-s386dc1fc71.png'); background-repeat: no-repeat; }

html { background-position: 0 -1200px; background-size: 100% 100%; }

@-moz-keyframes slide { 0% { -moz-transform: skew(90deg); transform: skew(90deg); }
  100% { -moz-transform: skew(90deg); transform: skew(90deg); } }
@-webkit-keyframes slide { 0% { -webkit-transform: skew(90deg); transform: skew(90deg); }
  100% { -webkit-transform: skew(90deg); transform: skew(90deg); } }
@keyframes slide { 0% { -moz-transform: skew(90deg); -ms-transform: skew(90deg); -webkit-transform: skew(90deg); transform: skew(90deg); }
  100% { -moz-transform: skew(90deg); -ms-transform: skew(90deg); -webkit-transform: skew(90deg); transform: skew(90deg); } }
.opacity { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.clear { overflow: hidden; *zoom: 1; }

.app { overflow: hidden; font: 14px Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif; }
.app .nav { height: 70px; background: #001e3c; }
.app .nav .nav-contain { width: 1200px; height: 70px; margin: 0 auto; }
.app .nav .nav-contain .nav-logo { float: left; width: 145px; height: 70px; background: url("../images/logo.png") no-repeat; }
.app .nav .nav-contain .nav-ul { position: relative; float: left; margin-left: 350px; }
.app .nav .nav-contain .nav-ul .bg-block { position: absolute; width: 140px; height: 70px; left: 0; top: 0; z-index: 1; background: url("../images/list_current_bg.png") no-repeat; }
.app .nav .nav-contain .nav-ul .nav-li { position: relative; float: left; width: 140px; height: 70px; z-index: 2; text-align: center; cursor: pointer; line-height: 70px; color: #fff; transition: all 1s; -webkit-user-select: none; }
.app .nav .nav-contain .nav-ul .nav-li > a { display: block; color: #fff; text-decoration: none; width: 140px; height: 70px; }
.app .nav .nav-contain .nav-ul .nav-li:hover { background: url("../images/list_current_bg.png") no-repeat; }
.app .nav .nav-contain .nav-ul .nav-li .child-ul { position: absolute; display: none; top: 70px; width: 100%; background: #00172d; }
.app .nav .nav-contain .nav-ul .nav-li .child-ul li { height: 63px; border-bottom: 1px dashed #0e3261; width: 100%; }
.app .nav .nav-contain .nav-ul .nav-li .child-ul li:hover { background: #00172d; }
.app .nav .nav-contain .nav-ul .nav-li .child-ul li:last-child { border-bottom: none; }
.app .nav .nav-contain .nav-ul .nav-li .child-ul li > a { display: block; height: 63px; color: #fff; text-decoration: none; }
@-webkit-keyframes microMoveLeft { 0% { opacity: 0; -webkit-transform: translateX(-40px); }
  100% { opacity: 1; -webkit-transform: translateX(0); } }
@-webkit-keyframes microMove { 0% { opacity: 0; -webkit-transform: translateX(40px); }
  100% { opacity: .34; -webkit-transform: translateX(0); } }
@-webkit-keyframes microMoveContent { 0% { opacity: 0; -webkit-transform: translateX(40px) skewX(-20deg); }
  100% { opacity: 1; -webkit-transform: translateX(0) skewX(0deg); } }
@-webkit-keyframes bannerOpacity { 0% { opacity: 0; }
  100% { opacity: 1; } }
.app .banner { height: 400px; background: url("../images/banner_bg.jpg") no-repeat; background-size: cover; background-position: center top; -webkit-animation: bannerOpacity 1.2s; }
.app .banner .wrap { position: relative; width: 1200px; margin: 0 auto; height: 400px; }
.app .banner .wrap .tag { position: absolute; top: 97px; right: 21px; width: 512px; height: 102px; background: #000; opacity: .34; filter: alpha(opacity=34); border-radius: 5px; -webkit-animation: microMove 1s; }
.app .banner .wrap .tag-content { position: absolute; top: 97px; right: 21px; width: 512px; height: 102px; color: #fff; -webkit-animation: microMoveContent 1s; -webkit-animation-delay: .5s; -webkit-animation-fill-mode: forwards; opacity: 0; }
.app .banner .wrap .tag-content .ch { font-size: 26px; padding-left: 30px; margin-top: 24px; }
.app .banner .wrap .tag-content .en { padding-left: 30px; }
.app .com-header { width: 100%; height: 470px; }
.app .com-contain { width: 1200px; margin: 0 auto; min-height: 200px; box-shadow: 0 4px 10px 0 #d7d7d7; background: #fff; }
.app .com-contain .contain-wrap { width: 1040px; overflow: hidden; margin: 0 auto; }
.app .com-contain .contain-wrap .title-long { height: 32px; line-height: 32px; margin-top: 50px; text-align: center; color: #333; font-size: 30px; background: url("../images/bg_line_01.png") no-repeat; }
.app .com-contain .contain-wrap .title-short { height: 32px; line-height: 32px; margin-top: 50px; text-align: center; color: #333; font-size: 30px; background: url("../images/bg_line_02.png") no-repeat; }
.app .com-contain .contain-wrap .des { margin: 50px 0 25px; font-size: 14px; color: #999; text-align: center; }
.app .com-contain .contain-wrap .items { width: 1050px; overflow: hidden; }
.app .com-contain .contain-wrap .items .item { width: 340px; height: 220px; position: relative; border-radius: 5px; overflow: hidden; float: left; margin-right: 10px; opacity: 0; -webkit-animation: microMoveLeft 1s; -webkit-animation-fill-mode: forwards; }
.app .com-contain .contain-wrap .items .item:nth-child(1) { -webkit-animation-delay: 0s; }
.app .com-contain .contain-wrap .items .item:nth-child(2) { -webkit-animation-delay: .5s; }
.app .com-contain .contain-wrap .items .item:nth-child(3) { -webkit-animation-delay: 1s; }
.app .com-contain .contain-wrap .items .item .tag-bg { position: absolute; bottom: 0; width: 100%; height: 40px; background: #264868; opacity: .8; filter: alpha(opacity=80); }
.app .com-contain .contain-wrap .items .item .tag { position: absolute; bottom: 0; width: 100%; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 14px; }
.app .com-contain .contain-wrap .item-blocks { margin-bottom: 70px; overflow: hidden; }
.app .com-contain .contain-wrap .item-blocks .item-block { width: 520px; height: 120px; margin-top: 50px; float: left; background: left center; }
.app .com-contain .contain-wrap .item-blocks .item-block .detail { margin: 0 26px 0 140px; }
.app .com-contain .contain-wrap .item-blocks .item-block .detail .d-h5 { line-height: 24px; font-size: 24px; color: #666; margin: 18px 0; }
.app .com-contain .contain-wrap .item-blocks .item-block .detail .d-p { color: #999; }
.app .com-contain .contain-wrap .item-blocks .icon01 { background: url("../images/block-bg01.png") no-repeat; }
.app .com-contain .contain-wrap .item-blocks .icon02 { background: url("../images/block-bg02.png") no-repeat; }
.app .com-contain .contain-wrap .item-blocks .icon03 { background: url("../images/block-bg03.png") no-repeat; }
.app .com-contain .contain-wrap .item-blocks .icon04 { background: url("../images/block-bg04.png") no-repeat; }
.app .com-contain .tag-list { height: 100px; background: #f8f8f8; overflow: hidden; }
.app .com-contain .tag-list a { text-decoration: none; }
.app .com-contain .tag-list .list-item { width: 296px; height: 50px; margin-top: 25px; float: left; border-right: 1px solid #e2e2e2; background-position: 70px center !important; }
.app .com-contain .tag-list .list-item:last-child { border-right: none; }
.app .com-contain .tag-list .list-item .list-title { margin: 6px 0 0 128px; color: #369; }
.app .com-contain .tag-list .list-item .list-des { margin-left: 128px; color: #999; }
.app .com-contain .tag-list .icon01 { background: url("../images/etra-bg01.png") no-repeat; }
.app .com-contain .tag-list .icon02 { background: url("../images/etra-bg02.png") no-repeat; }
.app .com-contain .tag-list .icon03 { background: url("../images/etra-bg03.png") no-repeat; }
.app .com-contain .tag-list .icon04 { background: url("../images/etra-bg04.png") no-repeat; }
.app .com-footer { width: 100%; height: 134px; background: #383838; color: #999; font-size: 12px; }
.app .com-footer .footer-wrap { width: 1200px; margin: 0 auto; text-align: center; padding-top: 40px; }
.app .com-footer .footer-wrap .footer-ul { overflow: hidden; display: inline-block; margin-bottom: 15px; }
.app .com-footer .footer-wrap .footer-ul a { text-decoration: none; color: #999; }
.app .com-footer .footer-wrap .footer-ul li { float: left; padding: 0 30px; border-right: 1px solid #999; }
.app .com-footer .footer-wrap .footer-ul li:last-child { border-right: none; }
